.header{
    width: 100%;
    height: 8svh;
    background: black;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    margin: 2%;
}
.links{
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
}
.links:hover{
    color: #ccc;
}

/* Styles for small devices */

@media (max-width: 768px) {
    .header {
        height: 7svh;
        padding: 10px 0;
    }
    
}
